@model Payroll_Management_System.Models.Employee

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="NumOfLeaves" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="LevelId" />
            <input type="hidden" asp-for="Department" />
            <input type="hidden" asp-for="WorkLocation" />
           <!-- <div class="form-group disabled">
                <label asp-for="LevelId" class="control-label"></label>
                <input asp-for="LevelId" class="form-control" />
                <span asp-validation-for="LevelId" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailId" class="control-label"></label>
                <input asp-for="MailId" class="form-control" />
                <span asp-validation-for="MailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pincode" class="control-label"></label>
                <input asp-for="Pincode" class="form-control" />
                <span asp-validation-for="Pincode" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="BankName" class="control-label"></label>
                <input asp-for="BankName" class="form-control" />
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccountNumber" class="control-label"></label>
                <input asp-for="BankAccountNumber" class="form-control" />
                <span asp-validation-for="BankAccountNumber" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="WorkLocation" class="control-label"></label>
                <input asp-for="WorkLocation" class="form-control" />
                <span asp-validation-for="WorkLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <label asp-for="NumOfLeaves" class="control-label"></label>
                 <input asp-for="NumOfLeaves" class="form-control" />
                 <span asp-validation-for="NumOfLeaves" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="LeaveDeduction" class="control-label"></label>
                 <input asp-for="LeaveDeduction" class="form-control" />
                 <span asp-validation-for="LeaveDeduction" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="Salary" class="control-label"></label>
                 <input asp-for="Salary" class="form-control" />
                 <span asp-validation-for="Salary" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="Status" class="control-label"></label>
                 <input asp-for="Status" class="form-control" />
                 <span asp-validation-for="Status" class="text-danger"></span>
              </div>-->
            <div class="form-group my-3">
                <input type="submit" value="Save" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
