@model Payroll_Management_System.Areas.Identity.Data.PmsUser

@{
    ViewData["Title"] = "Employee Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row mt-3">
        <div class="card shadow" style="border-radius:7px;">
            <div class="card-body">
                <div class="row mx-3">
                    <h5 class="fw-bold ls-tight d-flex justify-content-center" style="color:darkslategrey;">
                        Welcome to Payroll Management System.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>